<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/static/assets/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fef27cc1ae.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <title>{% block title %}HepaCheck{% endblock %}</title>
    {% block extra_css %}{% endblock %}
</head>
    
<body>

    <div class="page-wrapper">
        <!-- HEADER -->
        <header class="site-header">
            <div class="logo">
                <a href="/"><img src="../static/assets/logo.png" alt="HepaCheck Logo" /></a>
            </div>
            <div class="menu-toggle" id="menu-toggle">
                <i class="fa fa-bars"></i>
            </div>
            <nav class="nav-links" id="nav-links">
                <a href="/">Home</a>
                <a href="/#about-cirrhosis">About Cirrhosis</a>
                <a href="/docs">Docs</a>
                <a href="/predict">Predict</a>
            </nav>
        </header>

        <main class="container">
             {% block content %}{% endblock %}
        </main>

        <!-- FOOTER -->
        <footer class="site-footer">
            <p>Developed with <i class="fa-solid fa-heart"></i></p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/mohammedkaif003/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/MohammedKaif-3"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/kaif_shaik_7_8_6/"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <p>&copy; 2025 HepaCheck. All rights reserved.</p>
        </footer>

    </div>

      <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>